@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenid@@ al Call Center</h1>
    <img src="~/images/CallCenter.jpeg" class="img-fluid" alt="Call Center background" />
</div>